.Roster {
  margin-bottom: 5rem; // to keep content above fixed button bar

  th,
  td {
    vertical-align: middle;
  }
  .buttons-table {
    width: 100%;
    vertical-align: baseline;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid color('base-lighter');
    }
    th {
      color: gray;
      font-weight: 200;
      text-align: right;
    }
    td {
      width: 90%;
      div {
        align-items: center;
      }
    }
  }

  .break-spaces {
    white-space: break-spaces;
  }

  .oec-accordion__content {
    overflow-x: visible;
  }

  @include at-media('desktop-lg') {
    .oec-accordion__content {
      overflow-x: visible;
    }
  }

  .bx--accordion__content {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .bx--accordion__title {
    margin-left: 0 !important;
  }
}
