@import './components';
@import './containers/App/App.scss';
@import './containers/Landing/Landing.scss';
@import './containers/Help/Help.scss';
@import './containers/EditRecord/EditRecord.scss';
// TODO: Delete this once we're ready to dump all the old roster stuff
// @import './containers/RosterOld/Roster.scss';
@import './containers/Upload/Upload.scss';
@import 'carbon-components/scss/globals/scss/styles.scss';

p,
ol {
  line-height: 1.6rem;
}

legend .usa-label {
  // Overrides USWDS default
  font-weight: bold !important;
}

// Override some carbon defaults for now
.usa-button {
  min-height: unset;
}

.usa-form .usa-button[type='submit'] {
  margin-top: 1.5rem; // match other button styles
  margin-bottom: unset;
}

// Make the three column cards generally available, since they're used
// in both the upload wizard and on the roster
.three-column-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
}

.three-column-card {
  margin: 0.5em;
  width: 30%;
  max-width: 30%;
}

.bx--label {
  font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 1rem 0 1rem 0;
}

h2 {
  font-size: 1.5rem;
  display: block;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  &--lighter {
    font-weight: normal;
  }
}
