@import './components';
@import './containers/App/App.scss';
@import './containers/Landing/Landing.scss';
@import './containers/Help/Help.scss';
@import './containers/Home/Home.scss';
@import './containers/EditRecord/EditRecord.scss';
@import './containers/Roster/Roster.scss';

p,
ol {
  line-height: 1.6rem;
}

legend .usa-label {
  // Overrides USWDS default
  font-weight: bold !important;
}

// Override some carbon defaults for now
.usa-button {
  min-height: unset;
  &[type='submit'] {
    margin-top: unset;
    margin-bottom: unset;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 1rem 0 1rem 0;
}

h2 {
  font-size: 1.5rem;
  display: block;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  &--lighter {
    font-weight: normal;
  }
}
