# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# package lock files needed for npm audit
package-lock.json
client/package-lock.json

# dependencies
/node_modules
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.config
.devcontainer

# VS Code
.vscode

# NPM
.npm
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Winged Keys
/winged-keys

# Elastic Beanstalk Bundles
/fawkes-bundle
fawkes-bundle.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Browserstack/nightwatch makes a folder
/tests_output
.env