.container-with-bottom-margin {
<<<<<<< HEAD
  margin-bottom: 4rem !important;
}

.full-width-form {
  max-width: 100% !important;
}
=======
  margin-bottom: 8rem !important;
}

.bx--label {
  @extend .usa-label;
  color: rgb(27, 27, 27) !important;
}

.bx--number__input-wrapper input[type='number'] {
  border: .0625rem solid #1b1b1b !important;
}

>>>>>>> 5dfd25dced4a2b6f3f45a2df2f502d2fe5b75489
