.Landing {
  .usa-hero {
    background-image: url('~@ctoec/component-library/dist/assets/images/hero.svg');
    color: white;
    padding: 3em 0;
    margin-bottom: 1em;

    h1 {
      font-weight: 400;
    }

    .btn--inverse {
      color: black;
      background-color: white;
      width: 10em;
      height: 3em;
      line-height: 150%;
    }
  }

  .footer {
    margin-top: -1em;
    margin-bottom: -10em;
    fill: white;

    .usa-button:hover {
      background-color: #2378c3;
    }
  }
}
