.CheckData__content {
  margin-bottom: 5rem;
}

.CheckData__button-container {
  .margin-bottom-0 {
    // USWDS grid container overrides this
    margin-bottom: 0 !important;
  }
  .fixed-buttons {
    box-shadow: 0 -2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    clip-path: inset(-1rem 0 0 0);
    background-color: #fff;
    padding: 1rem;
  }
}

.no-wrap {
  width: max-content;
}
