.CheckData__content {
  margin-bottom: 5rem;

  // Make top scrollbar show rather than bottom
  .ps__rail-x {
    bottom: auto;
    top: 0px;
  }

  td {
    padding: 0.25rem 0.5rem;
  }
}

.header-normal {
  font-weight: normal;
  line-height: 2;
}
