.Home {
  .how-to-list {
    list-style: none;
    list-style-type: none;
    counter-reset: item;
    padding: 0;
    margin: 0;
  }

  .how-to-step::before {
    content: counter(item);
    line-height: 2.5rem;
    background: #61366f;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    left: 0;
    display: block;
  }

  .how-to-step {
    counter-increment: item;
    position: relative;
    padding-left: 3.5rem;

    .how-to-header {
      line-height: 2.5rem;
      font-size: x-large;
      font-weight: bold;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .how-to-body {
      margin-top: 0.25rem;
      margin-bottom: -0.5rem;
    }

    .how-to-button {
      margin-bottom: 2rem;
    }
  }
}

.three-column-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
}

.three-column-card {
  margin: 0.5em;
  width: 30%;
  max-width: 30%;
}
