.fixed-bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999999;

  .shadow-box {
    box-shadow: 0 -2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    clip-path: inset(-1rem 0 0 0);
    background-color: #fff;
    padding: 1rem;
  }

  .grid-container {
    margin-bottom: 0 !important;
  }
}
