.required-tag {
  &--required {
    background-color: purple !important;
  }
  &--conditional {
    background-color: #005ea2 !important;
  }
}

.data-definitions-table {
  ul {
    padding-left: 1.2rem;
  }
  .hide-bottom-border {
    border-color: white;
  }
}
